<div class="dropdown {{#if active}}dropdown_active{{/if}}">
    <button type="button" class="dropdown__toggle">
        {{{icon}}}
    </button>
    <ul class="dropdown__menu {{#if top}}dropdown__menu_top{{/if}} {{#if right}}dropdown__menu_right{{/if}}">
        {{#each items}}{{{this}}}{{/each}}
    </ul>
</div>
