<li class="dropdown__item">
    <a class="dropdown__link" role="button">
        {{#if icon}}<span class="dropdown__icon">{{{icon}}}</span>{{/if}}
        {{#if text}}<span class="dropdown__text">{{text}}</span>{{/if}}
    </a>
</li>
