<div class="profile-image">
    <label class="profile-image-label">
        <input type="file" name="avatar" accept="image/png, image/jpeg" />
        <span class="profile-image-preview">
            <img src="{{avatar}}" alt="{{name}}" />
        </span>
        <span class="profile-image-hint">
            Поменять аватар
        </span>
    </label>
</div>
