@use "sass:math";

@import "../../../../scss/functions";
@import "../../../../scss/mixins";

.profile-data-item {
    &__outer {
        box-shadow: inset 0 -1px var(--grey);
        display: flex;
        align-items: center;
        position: relative;
        padding: 12px 0;
        user-select: none;
        cursor: pointer;
    }

    &__title,
    &__value {
        font-size: rem(15px);
        font-weight: 500;
        line-height: math.div(20, 15);
    }

    &__title {
        margin-right: auto;
    }

    &__value {
        color: var(--darkgrey);
    }

    &__icon {
        margin-left: 4px;

        svg {
            display: block;
            will-change: transform;
            transition: transform var(--duration);
        }
    }

    &__outer:hover &__icon {
        svg {
            transform: translateX(2px);
        }
    }
}