<div class="profile-data-item">
    <div class="profile-data-item__outer">
        <div class="profile-data-item__title">
            {{title}}
        </div>
        <div class="profile-data-item__value">
            {{value}}
        </div>
    </div>
</div>
