<div class="layout">
    <div class="layout-wrap">
        <div class="layout-panel">
            <div class="layout-head">
                <h1 class="layout-title">
                    {{title}}
                </h1>
                {{{backButton}}}
            </div>

            <main class="layout-body">
                <div class="profile">
                    <div class="profile-wrap">
                        {{{profileSettings}}}
                        {{{profileData}}}
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
