@use "sass:math";

@import "../../scss/functions";
@import "../../scss/mixins";

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 32px;

    &-wrap {
        max-width: 540px;
        width: 100%;
    }
}
