<div class="layout">
    <div class="layout-wrap">
        <div class="layout-panel">
            <main class="layout-body">
                {{{backdrop}}}
                {{{modal}}}
            </main>
        </div>
    </div>
</div>
