@use "sass:math";

@import "../../../../scss/functions";
@import "../../../../scss/mixins";

.chats-item {
    &__outer {
        box-shadow: inset 0 -1px var(--grey);
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding: 10px 20px;
        user-select: none;
        cursor: pointer;
        transition: background-color var(--duration);

        &:hover {
            background-color: var(--grey);
        }
    }

    &_state_active &__outer {
        background-color: var(--blue);
        cursor: default;
    }

    &__inner {
        flex-grow: 1;
        overflow: hidden;
    }

    &__side {
        flex-shrink: 0;
        width: 48px;
    }

    &__image {
        border-radius: 50%;
        @include img-lazy(100%);
    }

    &__head,
    &__body {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
    }

    &__body {
        margin-top: 2px;
    }

    &__name {
        font-size: rem(17px);
        font-weight: 600;
        line-height: math.div(22, 17);
        letter-spacing: -0.0041em;
    }

    &__time {
        font-size: rem(13px);
        line-height: math.div(18, 13);
        letter-spacing: -0.0008em;
        color: var(--darkgrey);
        text-align: right;
        align-self: flex-start;
    }

    &__text {
        font-size: rem(13px);
        line-height: math.div(18, 13);
        letter-spacing: -0.0008em;
        color: var(--darkgrey);
        min-height: 36px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        span {
            color: var(--black);
        }
    }

    &__badge {
        font-size: rem(13px);
        font-weight: 600;
        line-height: math.div(24, 13);
        letter-spacing: -0.0008em;
        text-align: center;
        color: var(--white);
        background-color: var(--blue);
        border-radius: 12px;
        padding: 0 8px;
        min-width: rem(24px);
        flex-shrink: 0;
        align-self: flex-end;
    }

    &_state_active &__badge {
        color: var(--blue);
        background-color: var(--white);
    }

    &_state_active &__name,
    &_state_active &__time,
    &_state_active &__text {
        color: var(--white);
    }
}