@use "sass:math";
@import "../../../../scss/functions";
@import "../../../../scss/mixins";

.messages {
    &-list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 20px 0;
    }
}
