@use "sass:math";
@import "../../../../styles/functions";
@import "../../../../styles/mixins";

.form-floating {
    position: relative;

    &>label {
        font-size: rem(17px);
        font-weight: 400;
        line-height: math.div(22, 17);
        letter-spacing: -0.0041em;
        color: var(--darkgrey);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 16px;
        overflow: hidden;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        will-change: transform;
        transition: transform var(--duration) ease-in-out;
    }

    &>.form-control {
        &::placeholder {
            color: transparent;
        }

        &:focus,
        &:not(:placeholder-shown) {
            padding-top: 24px;
            padding-bottom: 8px;

            ~label {
                transform: scale(0.8125) translateY(-0.5rem) translateX(0.1875rem);
            }
        }

        &:-webkit-autofill {
            padding-top: 24px;
            padding-bottom: 8px;

            ~label {
                transform: scale(0.8125) translateY(-0.5rem) translateX(0.1875rem);
            }
        }
    }

    &>.form-error {
        font-size: rem(13px);
        line-height: math.div(18, 13);
        color: var(--red);
        position: relative;
        padding-left: 24px;
        margin-top: 4px;
        margin-left: 16px;

        &::before {
            content: "\0021";
            font-family: var(--font-arial);
            font-size: rem(11px);
            font-weight: 600;
            line-height: math.div(15, 11);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--red);
            border-radius: 50%;
            color: var(--red);
            position: absolute;
            width: 15px;
            height: 15px;
            top: 0;
            left: 1px;
        }
    }
}
