.message {
    position: relative;
    flex-grow: 1;

    &-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        width: 100%;
    }

    .form-control {
        height: 48px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 80px;
        resize: none;
    }

    .button {
        padding: 12px;
        width: auto !important;
    }

    .dropdown {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 8px;

        &::before {
            content: "";
            background-color: var(--grey);
            position: absolute;
            width: 1px;
            height: 18px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &__toggle {
            background-color: transparent !important;
        }
    }
}
