@use "sass:math";
@import "../../../../scss/functions";
@import "../../../../scss/mixins";

.profile-name {
    font-size: rem(24px);
    font-weight: 600;
    line-height: math.div(28, 24);
    margin-bottom: 16px;
}

.profile-buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
}

.profile-settings {
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin-bottom: 44px;

    &-side {
        flex-shrink: 0;
        width: 128px;
    }

    &-body {
        flex-grow: 1;
    }
}
