<div class="profile-settings">
    <div class="profile-settings-side">
        {{{profileImage}}}
    </div>
    <div class="profile-settings-body">
        <div class="profile-name">
            {{profileName}}
        </div>
        <div class="profile-buttons">
            {{{editButton}}}
            {{{exitButton}}}
        </div>
    </div>
</div>