<div class="messages-item {{#if self}}messages-item_self{{/if}}">
    <div class="messages-item__outer">
        <div class="messages-item__wrap">
            <div class="messages-item__inner">
                {{#if image}}<div class="messages-item__image"><img src="{{image}}" alt="" /></div>{{/if}}
                {{#if text}}<div class="messages-item__text">{{{text}}}</div>{{/if}}
            </div>
            <div class="messages-item__meta">
                {{#if status}}<div class="messages-item__status">{{{status}}}</div>{{/if}}
                <div class="messages-item__time">{{time}}</div>
            </div>
        </div>
    </div>
</div>