@use "sass:math";
@import "../../../../styles/functions";
@import "../../../../styles/mixins";

.messages-item {
    &__outer {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 10px;
        margin-right: 50%;
    }

    &_self &__outer {
        justify-content: flex-end;
        padding-left: 10px;
        padding-right: 20px;
        margin-left: 50%;
        margin-right: 0;
    }

    &__inner {
        background-color: var(--grey);
        border-radius: 0 29px 29px 29px;
        padding: 20px;
        min-width: 240px;
    }

    &_self &__inner {
        background-color: var(--blue);
        border-radius: 29px 29px 0 29px;
    }

    &__name {
        font-size: rem(13px);
        line-height: math.div(18, 13);
        letter-spacing: -0.0008em;
        color: var(--darkgrey);
        margin-bottom: 4px;
    }

    &__text {
        font-size: rem(13px);
        line-height: math.div(18, 13);
        letter-spacing: -0.0008em;
        color: var(--black);
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    &_self &__text {
        color: var(--white);
    }

    &__meta {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 8px;
        padding: 0 20px;
        margin-top: 4px;
    }

    &__status {
        svg {
            display: block;
        }
    }

    &__time {
        font-size: rem(13px);
        line-height: math.div(18, 13);
        letter-spacing: -0.0008em;
        color: var(--darkgrey);
    }
}
