<div class="layout">
    <div class="layout-wrap">
        <div class="layout-panel">
            <main class="layout-body">
                <div class="not-found">
                    <h1 class="not-found__title">
                        {{{title}}}
                    </h1>
                    <div class="not-found__description">
                        <p>{{{description}}}</p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
