<div class="layout">
    <div class="layout-wrap">
        <div class="layout-panel">
            <div class="not-found">
                <div class="not-found__title">
                    {{{title}}}
                </div>
                <div class="not-found__description">
                    {{{description}}}
                </div>
            </div>
        </div>
    </div>
</div>