<div class="modal">
    <div class="modal__dialog">
        <div class="modal__head">
            <h1 class="modal__title">
                {{title}}
            </h1>
            <button type="button" class="modal__close">
                {{{iconClose}}}
            </button>
        </div>

        <div class="modal__body">
            {{{body}}}
        </div>

        <div class="modal__foot">
            {{#if text}}<div class="modal__text"><p>{{{text}}}</p></div>{{/if}}
        </div>
    </div>
</div>
